<div id="disqus_thread"></div>
<div id="ajaxLoader">
    <img src="{{ asset('bundles/website/img/nzz_loading_animation_small.gif') }}" alt="Loading" width="16" height="16"/>
</div>
{% include 'KnpDisqusBundle::js.html.twig' %}
